.sidebar {
    position: fixed;
    left: 0;    
    top: 0;
    border-right: 1px solid #bbb;
    height: 100%;
    width: 15%;        
    z-index: 3;        
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.sidebar-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.sidebar-header {
    display: grid;
    width: 100%;
    height: 3.8rem;        
    place-items: center;    
}

.sidebar-content-filter {
    margin-top: 1rem;    
}

.sidebar-title {
    display: block;
    margin-bottom: 1rem;    
}

.sidebar-label {
    display: block;
    align-items: center;    
    margin-top: .7rem;
    width: fit-content;    
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;     
    padding-left: 1.4rem;
    
}
.sidebar-label input[type=radio] {
    position: absolute;
    cursor: pointer;       
    opacity: 0;
    width: 100%
}

.checkmark {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #dfdddd;
}

.sidebar-label:hover .checkmark {
    background-color: #bbb
}

.sidebar-label input:checked ~ .checkmark {
    background-color: rgb(27, 96, 245);
}

.sidebar-label input:checked ~ .checkmark::after {
    display: block;
}

.checkmark::after {
    content: '';
    position: absolute;
    display: none;
    border-radius: 50%;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}