nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;    
    border-bottom: 1px solid #ddd;    
    height: 3.8rem;
    align-items: center;
    top: 0;
    left: 0;
    background-color: white;
}

nav input {
    background-color: #eee;
    padding: .5rem .7rem;
    border-radius: 1rem;
    outline: none;    
    border: none;;
}

.nav-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-icons {
    color: #636262;
    width: 20px;
    height: 20px;
}